@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@theme {
  --font-sans: "Nunito", "system-ui", sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F0F5F1;
  color: #080C08;
}